/**
 * @name OUTDATED REMOVE
 * @version 0
 * @author Cradex#6320
 * @authorId  
 * @description This Project Has Been Removed
 * @source https://github.com/Septhev/Fix-Discord-Font
 * @website 
 * @invite 
*/

/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source Code Pro:wght@550&display=swap");

@import url("https://raw.githubusercontent.com/Septhev/Fix-Discord-Font/main/margins.css");

:root {
    --version1_0_6: none;
    --font: "Lato";
    --code-font: "Source Code Pro";
}

/*-Made by @Cradex with most of code made by The CommiteAxolotl#0001-*/
